{% load static %}

<!DOCTYPE html>
<html lang="es-ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Página de emprendimientos.">
    <meta name="author" content="Tu Nombre">
    <title>Página de Emprendimientos</title>

    <!-- CSS de assets -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel/css/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ollie.css' %}">
    

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <nav id="scrollspy" class="navbar navbar-light bg-light navbar-expand-lg fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'images/logo-bg.png' %}" alt="Logo de mi sitio" width="70px" height="70px" class="d-inline-block align-top">
                </a>
            </div>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-1">
                        <a class="nav-link btn btn-primary" href="#home">Inicio</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" style="width: 135px;" href="#about">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#expertises">Emprendimientos</a>
                    </li>
                    
                    <!-- Buscador de Categorías -->
                    <li class="nav-item mx-2">
                        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'filtrar_categorias' %}">
                            <input class="form-control mr-sm-2" type="search" placeholder="Buscar Categoría" name="q" value="{{ query|default_if_none:'' }}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                    </li>
                    
                     <!-- Verificar si el usuario está autenticado -->
                {% if user.is_authenticated %}
                <li class="nav-item mx-2">
                    <span class="nav-link">Hola, {{ user.username }}!</span>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
            {% else %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'register' %}">Registrarme</a>
                </li>
            {% endif %}
                        <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    

    <header id="home" class="header">
        <div class="overlay"></div>

        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">  
            <div class="container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Emprendimientos <br>de Chaco</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Creamos <br>Diseños Responsivos</h1>
                            <button class="btn btn-primary btn-rounded">Saber Más</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h1 class="carousel-title">Creamos <br>Diseños Simples</h1>
                            <button class="btn btn-primary btn-rounded">Saber Más</button>
                        </div>
                    </div>
                </div>
            </div>        
        </div>

        <div class="infos container mb-4 mb-md-2">
            <div class="title">
                <h6 class="subtitle font-weight-normal">¡Bienvenido a la Página Web de Emprendimientos Chaco!</h6>
                <h5>Aquí debajo te dejamos disponibles los emprendimientos &#x1F447; </h5>
                
            </div>
            <div class="socials text-right">
                <div class="row justify-content-between">
                    <div class="col">
                        <a class="d-block subtitle"><i class="ti-microphone pr-2"></i>(+54) 362-4123456</a>
                        <a class="d-block subtitle">
                            <span class="d-flex align-items-center">
                              <i class="ti-email mx-2"></i>
                              <span>emprendimientochaco@gmail.com</span>
                            </span>
                          </a>
                    </div>
                    <div class="col">
                        <h6 class="subtitle font-weight-normal mb-2">Redes Sociales</h6>
                        <div class="social-links">
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-twitter-alt"></i></a>
                            <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="section" id="expertises">
        <div class="container">
            <h3 class="section-title mb-4">Emprendimientos</h3>
    
            <d<div class="row text-center">
                {% for post in posts %}
                <div class="col-lg-4 mb-4">
                    <div class="card" style="max-width: 300px; margin: 0 auto;">
                        <img class="card-img-top img-fluid" src="{{ post.imagen_seccion.url }}" alt="{{ post.titulo }}" style="max-height: 200px; object-fit: cover; border-radius: 8px;">
                        <div class="card-body" style="padding: 10px;">
                            <h4 class="title mt-4" style="font-size: 1.2rem;">{{ post.titulo }}</h4>
                            <p class="xs-font" style="font-size: 0.9rem;">{{ post.descripcion|truncatewords:20 }}</p>
                            <a href="{% url 'post_detail' post.id %}" class="btn btn-primary mt-3" style="width: 100%; padding: 8px; font-size: 0.9rem;">Ver más</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
                     
        </div>
    </section>
    

    <section class="section" id="about" style="padding-top: 200px;">
        <div class="container">
            <div class="row align-items-center mr-auto">
                <div class="col-md-4">
                    <h5 class="xs-font mb-0">#Grupo 4</h5>
                    <h3 class="section-title">Sobre Nosotros</h3>
                    <p>Somos el Grupo 4 - Comision 2 del Informatorio y este es nuestro Proyecto de Emprendimientos de Chaco!</p>
                </div>
                <div class="col-sm-6 col-md-4 ml-auto">
                    <div class="usuario1 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/lucas.jpg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Lucas Ravarotto</h4>
                            <p>Programador Front-End</p>
                        </div>
                    </div>
                    <div class="usuario2 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/eve.jpeg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Evelin Valdez</h4>
                            <p>Programadora Back-End</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="usuario3 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/anon.jpg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Eric Santino Quinteros</h4>
                            <p>Programador Back-End</p>
                        </div>
                    </div>
                    <div class="usuario4 d-flex align-items-center">
                        <div class="icon-wrapper">
                            <img src="static/images/franco.jpeg" width="70px" height="70px" alt="Foto de usuario1" style="border-radius: 50%; border: 2px solid #272727; margin-right: 10px;">
                        </div>
                        <div class="infos-wrapper">
                            <h4 class="text-primary">Franco Godoy</h4>
                            <p>Programador Back-End y Front-End</p>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </section>

    <section id="contacto" class="section pb-0">
        <div class="container">
            <h6 class="xs-font mb-0">Contactá con nuestro equipo</h6>
            <h3 class="section-title mb-5">Completá acá</h3>
    
            <div class="row align-items-center justify-content-between">
                <div class="col-md-8 col-lg-7">
                    <form class="contact-form" method="post" action="{% url 'contacto' %}">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="nombre_apellido" class="form-control" placeholder="Nombre y Apellido" required>
                            </div>
                            <div class="col form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" name="asunto" class="form-control" placeholder="Asunto" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea name="mensaje" cols="30" rows="5" class="form-control" placeholder="Mensaje" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block" value="Enviar Mensaje">
                            <!-- Sección para mostrar mensajes -->
                                                        {% if success_message %}
                                                        <div class="alert alert-success">
                                                            {{ success_message }}
                                                        </div>
                                                    {% endif %}
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    
    
    
    
    


    <footer class="footer text-center">
        <div class="container">
            <p>&copy; Copyright © 2024 EmprenderChaco. Todos los derechos reservados.</p>
            <div class="social-links">
                <a href="javascript:void(0)" class="link pr-1"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link pr-1"><i class="ti-instagram"></i></a>
            </div>
        </div>
    </footer>

    <!-- JS de assets -->
    <script src="{% static 'assets/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</html>
