<!DOCTYPE html>
{% load static %}
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
   
</head>
<body>
    {% include 'navbar.html' %}  <!-- Usar el navbar de main.html -->

    <div class="post-detail">
        {% if post.imagen_seccion %}
        <img src="{{ post.imagen_seccion.url }}" alt="Logo de {{ post.titulo }}" class="img-fluid logo-imagen" style="max-width: 150px; display: block; margin: 0 auto; border-radius: 50%;">
        {% endif %}
    
        <h1 class="text-center mt-3">{{ post.titulo }}</h1>
        
        <div class="post-content">
            <p class="descripcion">{{ post.descripcion }}</p>
            
            {% if post.imagen_detalle %}
            <img src="{{ post.imagen_detalle.url }}" alt="Imagen detallada de {{ post.titulo }}" class="img-fluid detalle-imagen">
            {% endif %}
        
        <!-- Otros detalles del post -->
        <p><strong>Horario de atención:</strong> {{ post.horario_atencion }}</p>
        <p><strong>Ubicación:</strong> {{ post.ubicacion }}</p>
        <p><strong>Servicios:</strong> {{ post.servicios }}</p>
    </div>
    

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
